{% extends 'main/layout.html' %}

{% block css %}{% endblock css %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-5 pt-2 rounded shadow-lg">
            <a href="{% url 'main:current_topic' topic.id %}" class="btn btn-outline-secondary mb-2 text-white">{{topic.title}}</a>
            <form action="{% url 'main:edit_entry' entry.id %}" method="post" class="text-white d-flex flex-column">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="add" class="btn btn-success px-5 mr-auto mb-3"/>
            </form>
        </div>
    </div>
</div>

{% endblock content %}





{% block js %}



{% endblock js %}